version: "3.9"
services:
  rabbitmq:
    #  RabbitMQ is a messaging broker. Please note that the UI is available on port 15672.
    container_name: RabbitMQ
    image: rabbitmq:3.10-management
    restart: unless-stopped
    ports:
      - 5672:5672
      - 15672:15672